@page "/meals/edit"
@using Microsoft.EntityFrameworkCore
@using JournalApp.Models
@inject IDbContextFactory<JournalApp.Data.JournalAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Meals</h2>
<hr />
@if (Meals is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Meals" OnValidSubmit="UpdateMeals" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Meals.Id" value="@Meals.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Meals.Name" class="form-control" />
                    <ValidationMessage For="() => Meals.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="thoughts" class="form-label">Thoughts:</label>
                    <InputText id="thoughts" @bind-Value="Meals.Thoughts" class="form-control" />
                    <ValidationMessage For="() => Meals.Thoughts" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Meals.Price" class="form-control" />
                    <ValidationMessage For="() => Meals.Price" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <InputText id="rating" @bind-Value="Meals.Rating" class="form-control" />
                    <ValidationMessage For="() => Meals.Rating" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/meals">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Meals? Meals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Meals ??= await context.Meals.FirstOrDefaultAsync(m => m.Id == Id);

        if (Meals is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMeals()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Meals!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MealsExists(Meals!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/meals");
    }

    private bool MealsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Meals.Any(e => e.Id == id);
    }
}
