@page "/notes/create"
@using Microsoft.EntityFrameworkCore
@using JournalApp.Models
@inject IDbContextFactory<JournalApp.Data.JournalAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Notes</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Notes" OnValidSubmit="AddNotes" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="header" class="form-label">Header:</label> 
                <InputText id="header" @bind-Value="Notes.Header" class="form-control" /> 
                <ValidationMessage For="() => Notes.Header" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="note" class="form-label">Note:</label> 
                <InputText id="note" @bind-Value="Notes.Note" class="form-control" /> 
                <ValidationMessage For="() => Notes.Note" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createddate" class="form-label">createdDate:</label> 
                <InputDate id="createddate" @bind-Value="Notes.createdDate" class="form-control" /> 
                <ValidationMessage For="() => Notes.createdDate" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/notes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Notes Notes { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddNotes()
    {
        using var context = DbFactory.CreateDbContext();
        context.Notes.Add(Notes);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/notes");
    }
}
